
<bitstreamList>
    <bitstream>
        <itemHandle>45740</itemHandle>
        <bitstreamID>194319</bitstreamID>
    </bitstream>
</bitstreamList>

<handleList>
    <itemHandle>45740</itemHandle>
</handleList>
